
/* Section One */
#imgg{
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    display: block;
    /* Fırat Dayan */
}

#logoG {
    width: 100%;
    height: auto;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    /* Fırat Dayan */
}

/* Section Two */
#arama{
    width: 90%;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    background-color:#EEEEEE;    
    text-align: center;  
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* Fırat Dayan */
}

#search-the{
    text-align: center;
}
#search-area{
    background-color:white;
    width: 300px;
    border-style: solid;
    border-width: 1px;
}

/* Section Three */
.alt{
    margin: auto;
    width: 90.4%;
    padding: 1px;
    display: flex;
    background-color: white;
    height: auto;

}

.s3 {
    background-color: chocolate;
    padding: 0px;
    margin: 1px;
    justify-content: center;
}

.s4 {
    background-color: chocolate;
    padding: 0px;
    margin: 1px;
    justify-content: center;
}

.s5 {
    background-color: chocolate;
    padding: 0px;
    margin: 1px;
    justify-content: center;
}
#dvleft{
    background-color:#7EE5DA;
    width: 30%;
    height: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#dvmedium{
    background-color:#70CCC2;
    width: 30%;
    text-align: center;
    height: 90px;
    display: flex;
    flex-direction: column;
    
}
#dvright{
    background-color:#62B3AA;
    width: 40%;
    height: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

/* Section Footer */
.footer{

    width: 90%;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
    background-color:white;    
    text-align: center;  
    display: block;
}


p{
    
    margin: 0px;
}


/* Fırat Dayan */